@model IEnumerable<Drinks.Models.Drink>

@{
    ViewData["Title"] = "Index";
}

@{
    if (ViewBag.Category != null)
    {
        <h1>Drinks in category: @ViewBag.Category</h1>
    }
    else
    {
        <h1>Drinks</h1>
    }

}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    <button type="button" class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</button>
                    <button type="button" class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Details</button>
                    <button type="button" class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>
<button type="button" class="btn btn-warning" asp-action="Create">Add New Drink</button>

