@model IEnumerable<Drinks.Models.DrinkCategory>

@{
    ViewData["Title"] = "Index";
}

<h1>Drink Categories</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <p>
                        <a asp-controller="Drinks" asp-action="GetDrinksByCategoryId" asp-route-id="@item.ID"> @Html.DisplayFor(modelItem => item.Name)</a>
                    </p>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">
                        <input type="submit" class="btn btn-warning" value="Edit">
                    </a>
                    <a asp-action="Details" asp-route-id="@item.ID">
                        <input type="submit" class="btn btn-info" value="Details">
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.ID">
                        <input type="submit" class="btn btn-danger" value="Delete">
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="Create">
    <input type="submit" class="btn btn-primary" value="Add New Category">
</a>